/* 전역에 적용되는 css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: center;
  border: 0;
}
.wrap {
  position: relative;
  width: 100%;
  height: auto;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
