@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&family=Racing+Sans+One&family=Teko:wght@300..700&display=swap");
@font-face {
  font-family: "bm_hanna_airregular";
  src: url("../fonts/bmhannaair_ttf.woff2") format("woff2"),
    url("../fonts/bmhannaair_ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 메인 영역부터 푸터 영역까지 */

.main {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  overflow-x: hidden;
}
#projects {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 500px; /* 적절한 높이 값으로 수정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
}
#projects .title {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects .title h2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
#projects .title h1 {
  position: relative;
  margin: 0;
  max-width: 80%;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-size: 100px;
}

#about {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 500px; /* 적절한 높이 값으로 수정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  /* margin-top: 100px; */
  /* padding: 100px 0; */
}
#about .title {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .title h2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

#about .title h1 {
  position: relative;
  margin: 0;
  max-width: 80%;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-size: 100px;
}

#about-wrap {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  position: relative; /* 기준점 설정 */
}

#video-wrap {
  position: relative; /* fixed → relative */
  width: 45%;
  max-width: 600px;
  height: auto;
  justify-content: flex-start;
}

#text-wrap {
  position: relative;
  width: 45%;
  max-width: 600px;
  justify-content: flex-end;
}

.interview {
  position: relative;
  width: 100%; /* 부모 요소 기준 */
  max-width: 720px;
  height: auto;
  text-align: center;
  margin-top: 30px; /* 적절한 여백 추가 */
  justify-content: center;
}

.interview iframe {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 960px;
  border-radius: 10px;
}

.interview p {
  color: #fff;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.section-wrap {
  position: relative;
}
.section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.section .text {
  position: relative;
  width: 30%;
  min-width: 150px;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  top: 0;
}
.section .container {
  position: relative;
  width: 40%;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 0;
  font-size: 14px;
}
.section .text > p {
  text-transform: uppercase;
  font-family: "bm_hanna_airregular", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #f5f5f5;
}
.container p {
  color: #f5f5f5;
  font-family: "bm_hanna_airregular", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.container span {
  display: inline-block; /* 또는 display: block */
  color: #f5f5f5;
  font-family: "bm_hanna_airregular", sans-serif;
  margin-bottom: 20px;
}
.skill p {
  color: #f5f5f5;
  font-family: "bm_hanna_airregular", sans-serif;
  font-size: 1.1rem;
}
.icon {
  font-size: 1.8rem;
  color: #f5f5f5;
}

/* 프로그래스 바의 기본 스타일 */
.progress-bar {
  width: 100px;
  height: 5px; /* 높이 설정 */
  background-color: #f5f5f5; /* 배경 색상 */
  border-radius: 10px; /* 둥근 모서리 */
  overflow: hidden; /* 내부 progress 요소가 바깥으로 넘치지 않도록 설정 */
  margin: 10px 0; /* 프로그래스 바 간격 */
}

/* 프로그래스 바 진행도 스타일 */
.progress {
  height: 100%;
  background-color: #fa5656; /* 진행도 색상 */
  width: 0; /* 기본 너비는 0 */
  transition: width 0.3s ease; /* 너비 변경 시 애니메이션 효과 */
  border-radius: 10px 0 0 10px; /* 진행도의 왼쪽 모서리만 둥글게 */
}

/* 모바일 레이아웃 */
@media screen and (max-width: 799px) {
  #projects .title h1 {
    font-size: 60px;
  }
  #about .title h1 {
    font-size: 60px;
  }
}

@media (max-width: 799px) {
  #about-wrap {
    flex-direction: column;
    align-items: center;
  }

  #video-wrap,
  #text-wrap,
  .interview {
    width: 100%;
    max-width: none;
  }

  #text-wrap {
    margin-top: 100px;
  }

  .interview iframe {
    width: 280px;
    height: 480px;
  }
}
