@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100..900&family=Racing+Sans+One&family=Teko:wght@300..700&display=swap");

/* 메인 영역부터 푸터 영역까지 */

.main {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
}
#projects {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects .title {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects .title h2 {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}
#projects .title h1 {
  margin: 0;
  color: #fff;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-size: 80px;
}

#info {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #222;
  padding: 100px 0;
}
#info .title {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#info .title h2 {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
}

#about-title span {
  margin: 0;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #fff;
}

.section {
  position: relative;
  width: 50vw;
  min-width: 30vw;
  height: auto;
  display: flex;
  padding: 20px;
}
.section .text {
  position: relative;
  width: 20vw;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  top: 0;
}
.section .container {
  position: relative;
  width: 30vw;
  padding: 20px;
  font-size: 14px;
}
.section .text > p {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
  margin-top: -5px;
}
.container p {
  color: #fff;
  font-family: "Barlow Condensed" "Nanum Square", sans-serif;
  margin-bottom: 10px;
}
.container span {
  display: inline-block; /* 또는 display: block */
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 20px;
}
.skill p {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}
.icon {
  font-size: 1.8rem;
  color: #fff;
}

/* 프로그래스 바의 기본 스타일 */
.progress-bar {
  width: 80%;
  height: 5px; /* 높이 설정 */
  background-color: #fff; /* 배경 색상 */
  border-radius: 10px; /* 둥근 모서리 */
  overflow: hidden; /* 내부 progress 요소가 바깥으로 넘치지 않도록 설정 */
  margin: 10px 0; /* 프로그래스 바 간격 */
}

/* 프로그래스 바 진행도 스타일 */
.progress {
  height: 100%;
  background-color: #fa5656; /* 진행도 색상 */
  width: 0; /* 기본 너비는 0 */
  transition: width 0.3s ease; /* 너비 변경 시 애니메이션 효과 */
  border-radius: 10px 0 0 10px; /* 진행도의 왼쪽 모서리만 둥글게 */
}
